
<h1>
  &nbsp;&nbsp;Add/Edit Categories
</h1>
</section>

<!-- Main content -->
<section class="content">
  <!-- Small boxes (Stat box) -->
  <div class="row add-category-box">
    <div class="col-md-6">
      <div class="box box-primary" style="border-top-color:#00a65a;">
        <div class="box-header" style="background-color:#00a65a !important;">
          <h3 class="box-title" style="color:#fff;">Please add category</h3>
        </div><!-- /.box-header -->
        <!-- form start -->
        <form role="form">
          <div class="box-body">

            <div class="form-group">
              <label for="exampleInputName">Name</label>
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-pencil"></i>
                </div>
                <input type="text" class="form-control" id="exampleInputName" ng-model="category.name" placeholder="Name" /> 
              </div><!-- /.input group -->
            </div>


            <div class="form-group">
              <label for="exampleInputImage">Image</label>
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-image"></i>
                </div>
                <input type="text" class="form-control" id="exampleInputImage" ng-model="category.link" placeholder="Paste image link" />
              </div><!-- /.input group -->
            </div>

          </div>
          <div class="box-footer">
           <!-- ng-click="submitCategory()" this will go bellow in place of href -->
           <a ng-href="#/category"  class="btn btn-primary">Submit</a> 
         </div>
       </form>
     </div>
   </div>
   <div class="col-md-offset-1 col-md-3 paste-image">
    <a ng-href="" ng-click="showImage()" class="category-image-link">
      <img ng-src="{{category.link}}" class="category-image"></a>
    </div>       
  </div>
</section>

<div id="overlay-loader">
  <img src="img/ajax-loader1.gif" id="loader" />
</div>

<div id="overlay-image" ng-click="hideOverlay()">
  <img ng-src="{{category.link}}" />
</div>

